.form_div {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

.form_container {
  margin-left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weight_input {
  background-color: inherit;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  width: 40px;
  text-align: center;
  padding: 2px 5px;
  border-bottom: 1px solid black;
  transition: border-bottom;
}

.weight_input:focus {
  outline: none;
  border-bottom: 1px solid red;
}

/* to get rid of the number arrows */
.weight_input::-webkit-inner-spin-button,
.weight_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.weight_unit {
  margin-left: 5px;
}

.error {
  color: red;
}

.button {
  background-color: #ff9400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 5px 5px;
  color: white;
}

.button:hover {
  transition: background-color 0.2s;
  background-color: #ffab35;
  cursor: pointer;
}

.green,
.green:hover {
  background-color: rgb(0, 185, 0);
}
