.container {
  border: 1px solid blue;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin: 25px 0 0 50px;
}

.user_card {
  height: 100px;
  margin: 25px;
}
