.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo_div {
  width: 500px;
  height: 200px;
  border: 1px solid red;
}

.form {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.input {
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  line-height: 30px;
  padding: 10px;
  font-size: 12px;
  width: 200px;
}

.button_div {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.button_div div {
  text-align: center;
}

.button {
  background-color: #ff9400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 45%;
  padding: 5px 5px;
  color: white;
}

.button:hover {
  transition: background-color 0.2s;
  background-color: #ffab35;
  cursor: pointer;
}
.names {
  display: flex;
  width: 200px;
}

.names div input {
  width: 100%;
}
