.page {
  display: flex;
  justify-content: center;
}

.container {
  width: 80vw;
  max-width: 1000px;
  display: flex;
  align-items: center;
}
.about_us,
.bio {
  width: 50%;
}

.bio_card {
  margin-top: 100px;
  height: 500px;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.name {
  font-size: 2rem;
}

.ken {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.bio_icons {
  display: flex;
  justify-content: center;
}

.bio_div {
  margin: 50px 20px;
}

.bio_div a i {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.5);
  transition: color 200ms;
}

.bio_div a i:hover {
  color: rgba(0, 0, 0, 0.8);
}

.about_us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_us h2 {
  font-size: 2rem;
  margin: 30px 20px;
}

.link {
  color: blue;
}

.about {
  line-height: 25px;
}

.about p {
  text-indent: 20px;
}
