.splash_page {
  height: 60vh;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.container {
  flex: 0 0 70vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.bio_and_link {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.slogan_container {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.slogan {
  color: #455555;
  width: 600px;
}

.slogan h1 {
  font-size: 45px;
  margin-bottom: 10px;
  font-weight: 700;
}

.slogan h4 {
  font-size: 20px;
  text-indent: 5px;
}

.link:hover {
  text-decoration: none;
}

.signup_button {
  background-color: #183962;
  color: white;
  padding: 15px 30px;
  border-radius: 3px;
}

.signup_button:hover {
  transition: background-color 0.2s;
  background-color: #224a7a;
}

.bio {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.bio_div a i {
  font-size: 50px;
}

.bio_div a i:hover {
  transition: color 0.2s;
  color: rgba(0, 0, 0, 0.5);
}
