.home_page {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.greetings h1 {
  margin-bottom: 10px;
}

.create_link {
  font-size: 2rem;
  color: blue;
  font-weight: 300;
}

.pet_cards {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}
