.home_page {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.greetings h1 {
  margin-bottom: 10px;
}

.create_link {
  font-size: 2rem;
  color: blue;
}

.pet_cards {
  width: 50%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
