.food_entry {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  color: red;
}

.food_and_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food_info {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.food_info div {
  display: flex;
  justify-content: center;
  width: 20%;
}

.add_button_div {
  margin-right: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

.button {
  background-color: #ff9400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 5px 5px;
  color: white;
  margin-right: 3px;
}

.button:hover {
  background-color: #ffab35;
}
