.food_entry {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_button_div {
  margin-right: 20px;
}

.button {
  background-color: #ff9400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 5px 5px;
  color: white;
  margin-right: 10px;
}
