.container {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 20px;
  font-size: 2rem;
}

.form {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.errors {
  color: red;
  margin-bottom: 10px;
}

.input,
.select,
.number {
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  line-height: 30px;
  padding: 10px;
  font-size: 12px;
  width: 200px;
  color: rgba(0, 0, 0, 0.6);
}

.pic_upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  margin-bottom: 20px;
}

.upload_label {
  display: none;
}

.upload_button {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 140, 29);
  color: white;
  transition: background-color 200ms;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.upload_button h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.upload_button:hover {
  cursor: pointer;
  background-color: rgb(192, 104, 22);
}

.image_foreground,
.image_preview,
.image_foreground:after {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.image_foreground:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.image_foreground {
  transition: background-color 200ms;
}

.image_foreground:hover:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Add a different picture";
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.remove_picture {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px 10px;
}

.remove_picture:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
}

input[type="file"] {
  display: none;
  background-color: red;
}

.form div {
  display: flex;
  flex-direction: column;
}

.labels {
  font-size: 0.8rem;
}

.select {
  padding: 0;
  padding-left: 6px;
  color: rgba(0, 0, 0, 0.6);
}

.number {
  padding: 0;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  background-color: #ff9400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 45%;
  padding: 5px 5px;
  color: white;
  margin-bottom: 5px;
}

.button:hover {
  transition: background-color 0.2s;
  background-color: #ffab35;
  cursor: pointer;
}

.cancel_button {
  background-color: rgba(255, 0, 0, 0.7);
  transition: background-color 200ms;
}
.cancel_button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.grey,
.grey:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
}
