.nav {
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
}

.nav a {
  font-size: 1.5rem;
  color: #275b9b;
  font-weight: 900;
  letter-spacing: 1px;
  transition: color 0.2s;
}
.nav a:hover {
  color: #183962;
}

.nav ul {
  min-width: 70%;
  max-width: 100px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.home_links,
.logged_in_buttons {
  width: 250px;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.login_buttons {
  display: flex;
}
