.nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 140, 29);
  color: white;
}

.nav ul {
  width: 100vw;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0 40px;
}

.home_links,
.logged_in_buttons {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.login_buttons {
  display: flex;
}
